---
import Section from "../Section.astro";
import { education } from "@cv";
---

<Section title="Educación">
    <ul>
        {
            education.map(
                ({ institution, studyType, startDate, endDate, courses }) => {
                    const startYear = new Date(startDate).getFullYear();
                    const startMonth = new Date(startDate).toLocaleDateString(
                        "es",
                        {
                            month: "long",
                        },
                    );
                    const endMonth = new Date(endDate).toLocaleDateString(
                        "es",
                        {
                            month: "long",
                        },
                    );
                    const endYear =
                        endDate != null
                            ? new Date(endDate).getFullYear()
                            : "Actual";
                    const years = `${startMonth} ${startYear} - ${endMonth} ${endYear}`;
                    return (
                        <li>
                            <article>
                                <header>
                                    <div>
                                        <h4>{institution}</h4>
                                        <h3>{studyType}</h3>
                                    </div>
                                    <time>{years}</time>
                                </header>
                                <footer>
                                    {courses.map((course) => {
                                        return <span>{course}</span>;
                                    })}
                                </footer>
                            </article>
                        </li>
                    );
                },
            )
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    article h3 {
        font-weight: 500;
        color: #111;
    }
    article h4 {
        font-weight: 400;
        color: #222;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }
    time {
        color: #555;
        font-size: 0.85rem;
    }
    footer span {
        border-radius: 6px;
        background: #eee;
        color: #444;
        font-size: 0.6rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
        margin-inline: 0.2rem;
    }
</style>
